
div.map-box {
	display:table;
}

div.tile-row {
	width:100%;
	display:table-row;
}

div.tile{
	width:10px;
	height:10px;
	display:table-cell;
}

div.tile1 {
	background-color:black;
	color:white;
}
div.tile0 {
	
	background-color:black;
	color:black;
	
}